<h1>Taller de Integración Grupo 1</h1>

<h5> Para revisar la documentación de la API, ingrese  <a href="integra1.ing.puc.cl/documentacion">Aquí</a> </h5> 

Sémola: <%= @semola %>
Levadura: <%= @levadura %>
Queso: <%= @queso %>
Celulosa: <%= @celulosa %>
Vino: <%= @vino %>
<%= @almacen %>


<%= @ordenCompra %>


<h2>orden de compra</h2>
id de orden es:


