<head>
    
    <style type="text/css">
    body {text-align: center;
        
        color: blue;

    }


    </style>
</head>
<body>
Sémola: <%= @semola %>
Levadura: <%= @levadura %>
Queso: <%= @queso %>
Celulosa: <%= @celulosa %>
Vino: <%= @vino %>
</body>